In [2]:
import pandas as pd
#assign data
data={'Name':['Sai','Yuva','Poo','Savi','Ruba','Raj','Ravi'],
      'Age':[20,18,19,20,18,17,19],
      'Gender':['M','F','M','F','F','M','M'],
      'Marks':[90,76,'NaN',74,65,'NaN',71]}
df=pd.DataFrame(data)
print("Original dataframe:\n",df)
c=avg=0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
    avg/=c
    df=df.replace(to_replace='NaN',value=avg)
print("\n Replacing NaN with average marks:\n",df)

Original dataframe:
    Name  Age Gender Marks
0   Sai   20      M    90
1  Yuva   18      F    76
2   Poo   19      M   NaN
3  Savi   20      F    74
4  Ruba   18      F    65
5   Raj   17      M   NaN
6  Ravi   19      M    71

 Replacing NaN with average marks:
    Name  Age Gender  Marks
0   Sai   20      M   90.0
1  Yuva   18      F   76.0
2   Poo   19      M   90.0
3  Savi   20      F   74.0
4  Ruba   18      F   65.0
5   Raj   17      M   90.0
6  Ravi   19      M   71.0

In [3]:
#Filter top scoring students
df=df[df['Marks']>=75]
#Remove age row
df=df.drop(['Age'],axis=1)
#Display data
print("\n Filtering and dropping functio:\n",df)

 Filtering and dropping functio:
    Name Gender  Marks
0   Sai      M   90.0
1  Yuva      F   76.0
2   Poo      M   90.0
5   Raj      M   90.0

In [8]:
one=pd.DataFrame({'Name':['Sai','Raj','Yuva','Ram','Sam'],'Subject_id':['Sub1','Sub2','Sub3','Sub4','Sub5',],
                 'Marks_scored':[98,90,92,85,89]},index=[1,2,3,4,5])
two=pd.DataFrame({'Name':['Sanju','Ravi','Shree','Niki','Rahul'],'Subject_id':['Sub2','Sub4','Sub3','Sub6','Sub5',],
                 'Marks_scored':[73,80,85,98,79]},index=[1,2,3,4,5])
print("\n Orginal DataFrame:\n",one)
print("Orginal DataFrame 2:\n",two)
print(pd.concat([one,two]))

 Orginal DataFrame:
    Name Subject_id  Marks_scored
1   Sai       Sub1            98
2   Raj       Sub2            90
3  Yuva       Sub3            92
4   Ram       Sub4            85
5   Sam       Sub5            89
Orginal DataFrame 2:
     Name Subject_id  Marks_scored
1  Sanju       Sub2            73
2   Ravi       Sub4            80
3  Shree       Sub3            85
4   Niki       Sub6            98
5  Rahul       Sub5            79
    Name Subject_id  Marks_scored
1    Sai       Sub1            98
2    Raj       Sub2            90
3   Yuva       Sub3            92
4    Ram       Sub4            85
5    Sam       Sub5            89
1  Sanju       Sub2            73
2   Ravi       Sub4            80
3  Shree       Sub3            85
4   Niki       Sub6            98
5  Rahul       Sub5            79