In [18]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [19]:
import pandas as pd
emp=pd.Series(['Dharun','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'Emp':emp,'ID':id}
res=pd.DataFrame(frame)
print("\nseries to Dataframe\n")
print(res)

series to Dataframe

         Emp  ID
0     Dharun  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [20]:
print("\n Extracting one column\n")
print(res['Emp'])

 Extracting one column

0       Dharun
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: Emp, dtype: object

In [21]:
print('\nAdding one column:\n')
res['ID']=pd.Series([80,90,28,56,89])
res['Age']=pd.Series([19,90,34,67,20])
print(res)

Adding one column:

         Emp  ID  Age
0     Dharun  80   19
1     Sudeep  90   90
2       Siva  28   34
3       Yash  56   67
4  Keerthana  89   20

In [24]:
print("\n Deleting new column \n")
del res['Age']
print(res)

 Deleting new column

         Emp  ID
0     Dharun  80
1     Sudeep  90
2       Siva  28
3       Yash  56
4  Keerthana  89

In [25]:
print('\n Extracting the second row: \n')
print(res.loc[1])

 Extracting the second row:

Emp    Sudeep
ID         90
Name: 1, dtype: object

In [26]:
print("Slice rows :\n",res[1:4])

Slice rows :
       Emp  ID
1  Sudeep  90
2    Siva  28
3    Yash  56

In [27]:
d2=pd.DataFrame([['Vicky',100],['Rashid',111]],columns=['EMP','ID'])
print("\n Adding new row values : \n",pd.concat([res,d2]))

 Adding new row values :
          Emp   ID     EMP
0     Dharun   80     NaN
1     Sudeep   90     NaN
2       Siva   28     NaN
3       Yash   56     NaN
4  Keerthana   89     NaN
0        NaN  100   Vicky
1        NaN  111  Rashid

In [28]:
print("\n Detelting particular row:\n",res.drop(2))

 Detelting particular row:
          Emp  ID
0     Dharun  80
1     Sudeep  90
3       Yash  56
4  Keerthana  89