In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with Nan\n",df)
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with Nan
         one       two     three
a  1.294850  0.117907 -0.618540
b       NaN       NaN       NaN
c -0.311397 -0.625255 -1.029152
d -0.188642  1.646595 -0.503038
e       NaN       NaN       NaN
f  1.404139 -1.643223  0.076134
Dropped DataFrame
         one       two     three
a  1.294850  0.117907 -0.618540
c -0.311397 -0.625255 -1.029152
d -0.188642  1.646595 -0.503038
f  1.404139 -1.643223  0.076134

In [6]:
print("NaN replaced with 0:\n",df.fillna(0))
print("\n")

NaN replaced with 0:
         one       two     three
a  1.294850  0.117907 -0.618540
b  0.000000  0.000000  0.000000
c -0.311397 -0.625255 -1.029152
d -0.188642  1.646595 -0.503038
e  0.000000  0.000000  0.000000
f  1.404139 -1.643223  0.076134

In [8]:
df=pd.DataFrame({'one':[10,20,30,40,50],'two':[60,70,80,0,10]})
print("Original DataFrame:\n,df")
print("\n DataFrame with replaced values: \n")
print(df.replace({10:5,80:3}))

Original DataFrame:
,df

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2   30    3
3   40    0
4   50    5

In [9]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with Nan\n",df)
print("\n NaN with true fill:\n")
print(df['one'].isnull)

Original DataFrame with Nan
         one       two     three
a  1.384230  0.570903 -0.994375
b       NaN       NaN       NaN
c -0.943396 -1.402547 -0.500159
d  0.476648 -0.706607  1.026650
e       NaN       NaN       NaN
f -0.866223  1.390723  0.111338

 NaN with true fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [10]:
print("NaN filled with Background values:\n")
print(df.bfill())

NaN filled with Background values:

        one       two     three
a  1.384230  0.570903 -0.994375
b -0.943396 -1.402547 -0.500159
c -0.943396 -1.402547 -0.500159
d  0.476648 -0.706607  1.026650
e -0.866223  1.390723  0.111338
f -0.866223  1.390723  0.111338